:root {

  --color-primary-dark: #101010;
  --color-accent: #000;
  --color-light: #fff;

  --text-primary: #101010;
  --text-light: #fff;

  --color-lavender: #e2beffff;

  --background-color-accented: #101010ff;
}
